$mainBackgroundColor: #1B1B1B;
$footerBackgroundColor: #2D2D2E;
$mainPurpleColor: #8B32FE;
$mainPurpleHoverColor: #9548fa;
$lightGrayColor: #615D6D;
$whiteColor: #FFFFFF;
$headerBordersColor: rgba(255, 255, 255, 0.1);
$headerSelectorHoverColor: rgba(255, 255, 255, 0.05);
$cardHoverColor: rgba(27, 27, 27, 0.5);
$formMainColor: rgba(97, 93, 109, 0.50);
$formErrorColor: #c91e1e;
$formPlaceholderColor: rgba(97, 93, 109, 1);
$buttonDisabledBackgroundColor: #6d489d;
$buttonDisabledTextColor: #d2d2d2;
$formBackgroundColor: rgba(45, 45, 46, 0.50);