@import "../variables.scss";
@import "../mixins.scss";

.contacts__info {
    max-width: 340px;

    &-item {
        margin-bottom: 24px;

        & > h4 {
            margin: 16px 0;
        }
    }

    &-label {
        color: $lightGrayColor;
    }
}
