@import "../mixins.scss";
@import "../variables.scss";

.social {
    &__gallery {
        margin-top: 40px;

    }

    &__photos {
        @include flex-container-center;
        flex-wrap: wrap;
        gap: 5px;

        width: 100%;
        height: 100%;

        margin-bottom: 30px;
    }

    &__photo {
        width: 130px;
        height: 130px;

        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 507px) {
    .social {
        &__gallery {
            margin-top: 25px;
        }

        &__photos {
            gap: 3px;
            margin-bottom: 18px;
        }

        &__photo {
            width: 80px;
            height: 80px;
        }
    }
}
