.footer {
    width: 100%;

    &__top {
        display: flex;

        background: $footerBackgroundColor;
    }

    &__bottom {
        @include flex-container-space-between;

        padding: 30px 8%;
        color: $lightGrayColor;

        &-policy > a {
            @include transition-3s;
        }

        &-policy > span {
            margin: 0 10px;
        }

        &-policy > a:hover {
            color: $buttonDisabledTextColor;
        }
    }

    &__content {
        width: 100%;
        padding: 80px 25px 80px 8%;
    }

    &__header {
        @include flex-container-space-between;
        padding-bottom: 30px;
        border-bottom: 1px solid $headerBordersColor;

        &-left {
            & > span {
                display: block;
                margin-bottom: 10px;
                color: $formPlaceholderColor;
            }
        }
    }

    &__social {
        display: flex;
        align-items: flex-end;
        gap: 10px;

        &-item {
            width: 60px;
            height: 60px;

            border-radius: 50%;
            border: 1px solid $headerBordersColor;

            background: transparent;

            @include transition-3s;

            &:hover {
                border: 1px solid $whiteColor;
                background: $whiteColor;
            }
        }

        &-link {
            @include flex-container-center;

            width: 100%;
            height: 100%;
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;

        width: 90%;
        margin-top: 70px;
    }

    &__list {
        width: 170px;

        &-title {
            @include flex-container-space-between;
            margin-bottom: 30px;
            color: $mainPurpleColor;

            & > span {
                display: block;
            }
        }

        &-item {
            margin-bottom: 15px;

            @include transition-3s;

            & > span > a:hover {
                @include transition-3s;

                color: $mainPurpleColor;
            }
        }
    }

    &__map {
        & > img {
            width: 640px;
            height: 100%;
            object-fit: cover;
        }
    }
}

.plus {
    height: 15px;
    width: 10px;
    position: relative;
    border-left: 1px solid $whiteColor;

    &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: -10%;
        transform: translate(-50%, -50%);

        width: 15px;
        height: 1px;
        background: $whiteColor;
    }
}

.minus {
    height: 1px;
    width: 15px;
    background: $whiteColor;
}
