.gallery__inner {
    width: 100vw;

    &-content {
        position: absolute;
        bottom: 220px;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 5;

        width: 75%;

        @include flex-container-space-between;
    }

    &-info {
        max-width: 570px;
    }

    &-title {
        margin-bottom: 18px;
    }
}

.consultation__gallery {
    background-image: url("../../../../../public/images/gallery/inner/formBG.jpg");
    @include backgroundImage-cover;
}

.swiper__navigation {
    position: relative;

    height: 100px;
    width: 210px;

    &-common {
        position: absolute;
        right: 4%;
        bottom: 5%;
        z-index: 5;

        height: 100px;
        width: 130px;
    }
}
