@import "../variables.scss";
@import "../mixins.scss";

.filters {
    @include flex-container-center;
    color: $lightGrayColor;

    &__item {
        @include flex-container-center;
        @include transition-4s;

        width: 157px;
        margin-bottom: 50px;
        padding: 19px 0;

        border: 1px solid $lightGrayColor;
        border-right: 1px solid transparent;

        &:last-child {
            border-right: 1px solid $lightGrayColor;
        }

        &:last-child.filter-active {
            border-right: 1px solid $whiteColor;
        }

        &:hover {
            cursor: pointer;
            color: $whiteColor;
            border: 1px solid $whiteColor;
        }
    }
}

.filter-active {
    color: $whiteColor;
    border: 1px solid $whiteColor;
}
